/* 1 */

.wrapper {
    margin-bottom: 30px;
    padding: 10px;
    width: 500px;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;

    scroll-behavior: smooth;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f0f0f0;

    transition: all 0.1s ease-in;

    &:hover {
        background-color: #4a9df9;
    }
}

.container {
    max-width: 500px;
    padding: 30px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

/* 2 */

.tooltip {
    position: relative;
    cursor: pointer;

    transition: all 0.2s ease;

    &:hover .text {
        opacity: 1;
    }
}

.text {
    opacity: 0;

    position: absolute;
    width: 100%;
    padding: 5px;
    color: #fff;
    background-color: black;
    text-align: center;

    border-radius: 5px;

    left: 0;
    bottom: 20px;

    transition: opacity 0.2s ease;
}



/* 3 */

.container-flex {
    padding: 30px;
    max-width: 1240px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}
.card {
    flex-grow: 1;

    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.card__title {
    margin-top: 0;
    margin-bottom: 10px;
}

.container-grid {
    padding: 30px;
    max-width: 1200px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 10px;
}

.gridcard {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* 4 */

.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.about__title {
    position: relative;
    font-size: 32px;
    letter-spacing: 6px;

    margin-bottom: 65px;
}

.about__title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    height: 2px;
    width: 50px;
    background-color: #6d5d3c;
    display: block;
}

.about__description {
    max-width: 750px;
    color: #6d5d3c;
    text-align: center;

    margin-bottom: 40px;
}

.about__cards {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    margin-bottom: 200px;
}
.cards__item {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 240px;
}

.item__img {
    width: 80px;
    height: 80px;
    border: 1px #6d5d3ca8 solid;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lines {
    position: relative;

    &::before {
        @include line;
        left: -175px;
    }

    &::after {
        @include line;
        left: 105px;
    }
}

.item__title {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
}
.item__description {
    text-align: center;
}

@media screen and (max-width: 880px) {
    .lines::after {
        content: "";
        display: none;
    }
}

@media screen and (max-width: 593px) {
    .lines::before {
        content: "";
        display: none;
    }
}
